:root {
  --mainGreen: #6dca4dff;
  --mainRed: #ed1c24ff;
  --secondGreen: #0d9900ff;
  --secondRed: #992700ff;
  --buttonRadius: 10px;
  --headerSize: 10vh;
  --shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);
  --gradientColors: black 10%, var(--secondGreen) 40%, var(--mainGreen) 70%, transparent;
}

@font-face {
  font-family: "OpenDyslexic3";
  src: url("./fonts/OpenDyslexic3-Regular.ttf") format("truetype");
  font-display: swap;
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

@media only screen and (orientation: portrait) {

  .footer-content>a {
    display: block;
    margin-top: calc(var(--headerSize) * 3/4);
    text-shadow: var(--shadow);
  }

  .footer {
    height: calc(var(--headerSize) * 2);
  }

  .notes {
    padding-bottom: calc(var(--headerSize));
  }

  header,
  footer,
  .modal {
    padding: 2vh 5vw;
  }

  header,
  footer,
  .container,
  .modal,
  .note {
    width: 80%;
  }
}

@media only screen and (orientation: landscape) {

  .footer {
    height: var(--headerSize);
  }

  .note {
    min-width: 200px;
    width: 25%;
  }

  header,
  footer,
  .modal {
    padding: 2vh 1vw;
  }

  .container,
  .header-content,
  .footer-content,
  .modal {
    width: 35vw;
  }
}

* {
  border: none;
  border-radius: var(--buttonRadius);
  margin: 0;
  font-family: "OpenDyslexic3", sans-serif;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
}

body {
  background-color: var(--mainGreen);
}

button {
  width: 40%;
  background-color: var(--mainRed);
  cursor: pointer;
}

button:hover {
  background-color: var(--secondRed);
}

button:disabled {
  background-color: gray;
}

footer {
  bottom: 0;
  text-align: center;
  background-image: linear-gradient(to top, var(--gradientColors));
}

header {
  background-image: linear-gradient(to bottom, var(--gradientColors));
  height: calc(var(--headerSize) * 1.20);
  top: 0;
  font-size: 1.5rem;
}

label {
  display: block;
  text-align: left;
}

section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

textarea {
  height: 75%;
}

a,
span {
  line-height: var(--headerSize);
  vertical-align: middle;
  color: black;
}

button,
input {
  padding: 1%;
  border-radius: var(--buttonRadius);
}

input,
textarea {
  width: 90%;
  box-sizing: border-box;
}

footer,
header {
  width: 100%;
  left: 0;
  z-index: 1;
}

button,
input,
textarea {
  box-shadow: var(--shadow);
}

input,
label,
textarea {
  margin: 0 5%;
  font-size: 1.25em;
}

footer,
header,
.addButton {
  position: fixed;
}

.addButton {
  width: 5rem;
  height: 5rem;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 2;
}

.zoomIn {
  animation: animatezoom 0.3s forwards;
}

.zoomOut {
  animation: animatezoom 0.3s reverse;
}

.button-group {
  margin: 5%;
  text-align: center;
}

.fileInput {
  display: none;
}

.icon {
  height: var(--headerSize);
}

.modal {
  margin: var(--headerSize) auto;
  display: none;
  height: 50%;
  /* left: 0;
  top: 0; */
  background-color: var(--secondRed);
}

.modalButton {
  background-color: var(--mainGreen);
}

.modalButton:hover {
  background-color: var(--secondGreen);
}

.modalButton.close {
  width: 2rem;
  height: 2rem;
  float: right;
  right: 0;
  top: 0;
}

.name {
  width: 60%;
  float: middle;
}

.note {
  margin: 2%;
}

.notes {
  display: none;
  margin: calc(var(--headerSize) * 1.25) auto;
  width: 95%;
}

.userTitle {
  width: 85%;
  display: inline-block;
  vertical-align: middle;
}

.footer-content,
.header-content {
  margin: 0 auto;
  height: 100%;
}

.icon,
.name {
  vertical-align: middle;
}

.addButton,
.modalButton.close,
.noteButton {
  font-family: sans-serif;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container,
.modal {
  margin: calc(var(--headerSize) * 1.35) auto;
}

.container,
.header-content,
.footer-content,
.notes {
  min-width: 300px;
}