:root {
  --mainGreen: #6dca4dff;
  --mainRed: #ed1c24ff;
  --secondGreen: #0d9900ff;
  --secondRed: #992700ff;
  --buttonRadius: 10px;
  --headerSize: 10vh;
}

@font-face {
  font-family: "OpenDyslexic3";
  src: url("./fonts/OpenDyslexic3-Regular.ttf") format("truetype");
  font-display: swap;
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media only screen and (orientation: portrait) {

  header,
  footer,
  .newNote {
    padding: 2vh 5vw;
  }
  
  header,
  footer,
  .container,
  .newNote {
    width: 90%;
  }
}

@media only screen and (orientation: landscape) {

  header,
  footer,
  .newNote {
    padding: 2vh 1vw;
  }

  .container,
  .header-content,
  .footer-content,
  .newNote {
    width: 35vw;
  }
}

* {
  border: none;
  border-radius: var(--buttonRadius);
  margin: 0;
  font-family: "OpenDyslexic3", sans-serif;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
}

body {
  background-color: var(--mainGreen);
  overflow: hidden;
}

button {
  width: 40%;
  background-color: var(--mainRed);
  cursor: pointer;
}

button:hover {
  background-color: var(--secondRed);
}

footer {
  bottom: 0;
  height: var(--headerSize);
  text-align: center;
}

header {
  background-image: linear-gradient(to bottom,
    black 10%,
    var(--secondGreen) 45%,
    var(--mainGreen) 60%,
    transparent);
  height: calc(var(--headerSize) * 1.25);
  top: 0;
  font-size: 1.5rem;
}

label {
  display: block;
  text-align: left;
}

section {
  display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

textarea {
  height: 75%;
}

a,
span {
  line-height: var(--headerSize);
  vertical-align: middle;
  color: black;
}

button,
input {
  padding: 1%;
  border-radius: var(--buttonRadius);
}

input,
label,
textarea {
  margin: 0 5%;
  font-size: 1.25em;
}

input,
textarea {
  width: 90%;
  box-sizing: border-box;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid #ddd;
}

footer,
header {
  width: 100%;
  left: 0;
  z-index: 1;
}

footer,
header,
.add-button {
  position: fixed;
}

.add-button,
.noteButton.close {
  font-family: sans-serif;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button {
  width: 5rem;
  height: 5rem;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 2;
}

.animate {
  animation: animatezoom 0.6s
}

.button-group {
  margin: 5%;
  text-align: center;
}

.footer {
  background-image: linear-gradient(to top,
  black 25%,
  var(--secondGreen) 50%,
  var(--mainGreen) 75%,
  transparent)
  ;
}

.icon {
  height: var(--headerSize);
}

.name {
  width: 60%;
  float: middle;
}

.newNote {
  margin: auto;
  display: none;
  height: 50%;
  left: 0;
  top: 0;
  background-color: var(--secondRed);
}

.notes {
  position: relative;
  display: none;
  padding: 1%;
  min-width: 300px;
  width: 90%;
  background-color: rgba(128, 128, 128, 0.432);
}

.noteButton {
  background-color: var(--mainGreen);
}

.noteButton:hover {
  background-color: var(--secondGreen);
}

.noteButton.close {
  width: 2rem;
  height: 2rem;
  float: right;
  right: 0;
  top: 0;
}

.userTitle {
  width: 85%;
  display: inline-block;
  vertical-align: middle;
}

.container,
.notes,
.newNote {
  margin: calc(var(--headerSize) * 1.5) auto;
}

.container,
.header-content,
.footer-content {
  min-width: 300px;
}

.footer-content,
.header-content {
  margin: 0 auto;
  height: 100%;
}

.icon,
.name {
  vertical-align: middle;
}